<!DOCTYPE html>
<html>

<head><title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <h1>Help's here</h1>
        <p>You'll get {{service}}</p>
    </div>

    {{>footer}}
</body>
</html>